/* You can add global styles to this file, and also import other style files */
html,
body,
#root {
  height: 100%;
}

body {
  /* background-image: url(/assets/background.jpg);
  background-size: cover;
  background-attachment: fixed; */
  background-color: #00796b !important;
}

.fullHeight {
  height: 100%;
}
